### ALIASES ###
## Generic
alias ls="ls --color=auto"
alias ll="ls -lah"
alias grep="grep --color=auto"
alias ec="$EDITOR ~/.zshrc"
alias sc="source ~/.zshrc"

## git ##
alias lastdiff="git diff HEAD~1 HEAD"
alias currdiff="git diff"
alias sts="git status"
alias addall="git add ."
alias add="git add"
alias cmt="git commit -m"
alias amd="git commit --amend"
alias ckt="git checkout"
alias push="git push"
alias pnb="git push -u origin"
alias bch="git branch"
alias graph="git log --graph --all --abbrev-commit --decorate --format=format:\"%C(blue)%h %C(green)(%ar) %C(black)- %s %C(magenta)- %an%C(yellow)%d\""
alias pull="git pull"
alias rbs="git rebase"
alias cmtall="git commit -a -m"

